/* globals.css */
:root {
	--primary-color: #1976d2;
	--secondary-color: #dc004e;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* Reset some default styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}
